# Data Types in Python

Python Strings

In [ ]:
#Pre defined functions
str = "work"
print(str)
type(str)

work

str

Numeric Data Types

In [ ]:
#Assigning values to variables
a = 10  #integer
print(type(a))
b = 1.23  #float
print(type(b))
c = 1j+2  #complex
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

Sequence Data Types

In [ ]:
#Creating a list
list1 = ["pen","book","paper"]
print(list1)
type(list1)

['pen', 'book', 'paper']

list

In [ ]:
#List mentioning each data type
list2=[type(3),type(0.236),type("book"),type([5,6,7,8,9]),type(3j + 9)]
print(list2)
print(type(list2))

[<class 'int'>, <class 'float'>, <class 'str'>, <class 'list'>, <class 'complex'>]
<class 'list'>

In [ ]:
#Creating a tuple
tuple1 = (1,2,3,4,5,6)
print(tuple1)
type(tuple1)

(1, 2, 3, 4, 5, 6)

tuple

In [ ]:
#Make a tuple mentioning each data type
tuple2=(type(6),type(2.569),type("pen"),type([1.1,2.1,3.1,4.1,5.1]),type(1j + 6),type((6,7,8,9,1)))
print(tuple2)
print(type(tuple2))

(<class 'int'>, <class 'float'>, <class 'str'>, <class 'list'>, <class 'complex'>, <class 'tuple'>)
<class 'tuple'>

Mapping Data Type

In [ ]:
#Creating a dictionary
dict1={
    "author":"William",
    "book":"b1",
    "version":2
    }
print(dict1)
type(dict1)

{'author': 'William', 'book': 'b1', 'version': 2}

dict

In [ ]:
#Make a dictionary adding Name and your basic details
dict2={"name":"Hemalatha",
      "usn":21,
      "college":"BMSIT",
      "semester":"4th sem",
      "branch":"MCA"
      }
print(dict2)
type(dict2)

{'name': 'Hemalatha', 'usn': 21, 'college': 'BMSIT', 'semester': '4th sem', 'branch': 'MCA'}

dict

Print Function

In [ ]:
#Print the type of the data and store it
str1="My name is Hemalatha and I am learning python"
print(str1)
print(type(str1))

My name is Hemalatha and I am learning python
<class 'str'>

# Python Operators

Arithmetic Operators

In [ ]:
#Arithmetic operators
a = 8
b = 2

v1=a+b  #Addition
print(v1)

v2=a-b  #Subtraction
print(v2)

v3=a*b  #Multiplication
print(v3)

v4=a/b  #Division
print(v4)

v5=a//b #Floor division
print(v5)

v6=a**b #Exponential
print(v6)

10
6
16
4.0
4
64

Assignment Operators

In [ ]:
#Assignment operators
d=4 #assigning value 4 to d
print(d)
d+=5  #incrementing d value by 5
print(d)
d*=2  #multipying d by 2
print(d)

4
9
18

Comparision Operators

In [ ]:
#Comparision operators
5==5

True

In [ ]:
6>9

False

In [ ]:
8!=4

True

In [ ]:
7>=3

True

Logical Operators

In [ ]:
#Logical AND operator
if(2==2 and 3<5):
  print("And is true")
else:
  print("And is false")

if(2==2 and 3<2):
  print("And is true")
else:
  print("And is false")

And is true
And is false

In [ ]:
#Logical OR operator
if(2==2 or 3<2):
  print("Or is true")
else:
  print("Or is false")

if(2!=2 and 3<2):
  print("Or is true")
else:
  print("Or is false")

Or is true
Or is false

In [ ]:
#Logical NOT operator
not('Fruit'=='fruit')

True

# Sequences in Python

List/Array Methods

In [ ]:
# Append 
ap = [1,2,3,4,5]
print("Before appending",ap)
ap.append(10)
print("After appending",ap)

Before appending [1, 2, 3, 4, 5]
After appending [1, 2, 3, 4, 5, 10]

In [ ]:
# Insert 
ins = [4,5,6,2,8]
print("Before inserting",ins)
ins.insert(4,12)  #Inserting 12 at 4th position
print("After inserting",ins)

Before inserting [4, 5, 6, 2, 8]
After inserting [4, 5, 6, 2, 12, 8]

In [ ]:
# Extend Function 
ex1 = [1,2,3,4,5,6,7]
ex2 = [4,8,9,10,34]
ex1.extend(ex2)
ex2.extend(ex1)
print("Extended list afer adding ex2",ex1)
print("Extended list afer adding ex1",ex2)

Extended list afer adding ex2 [1, 2, 3, 4, 5, 6, 7, 4, 8, 9, 10, 34]
Extended list afer adding ex1 [4, 8, 9, 10, 34, 1, 2, 3, 4, 5, 6, 7, 4, 8, 9, 10, 34]

In [ ]:
# Sum function
ex3 = [5,6,12,8,7,10]
print(ex3)
print("Sum=",sum(ex3))

[5, 6, 12, 8, 7, 10]
Sum= 48

In [ ]:
# Count 
count1 = [1,4,6,87,2,2,7,1,6,8,9,3,3,2,9,3,1,6,4532,31,53,637,48,4,52,6,45,5,638,2,2,56]
print(count1.count(2))

5

In [ ]:
# Indexing
In = [6,7,8,9,2,3,4,3,1]
In.index(3)

5

In [ ]:
# Pop function
pop1 = [1,2,3,4,5,6,7,8,9]
print("Before pop",pop1)
pop1.pop(4)
print("After pop",pop1)

Before pop [1, 2, 3, 4, 5, 6, 7, 8, 9]
After pop [1, 2, 3, 4, 6, 7, 8, 9]

In [ ]:
#Delete method
de = [2,3,4,5]
print(de)
del de[2]
print(de)

[2, 3, 4, 5]
[2, 3, 5]

In [ ]:
# Remove 
re1 = [2.3,4,3,8,17]
re1.remove(4)
print(re1)

[2.3, 3, 8, 17]

String Methods

In [ ]:
#capitalize method
name = 'dlitHe Institute'
name.capitalize()

'Dlithe institute'

In [ ]:
#count method
name = 'dlitHe Institute'
name.count("i")

2

In [ ]:
#find method
name = 'dlitHe Institute'
name.find("u")

13

In [ ]:
#isalpha method
name = 'dlitHe Institute'
name.isalpha()

False

In [ ]:
#islower method
name = 'dlitHe Institute'
name.islower()

False

In [ ]:
#isupper method
name = 'dlitHe Institute'
name.isupper()

False

In [ ]:
#lower method
name = 'dlitHe Institute'
name.lower()

'dlithe institute'

In [ ]:
#upper method
name = 'dlitHe Institute'
name.upper()

'DLITHE INSTITUTE'

In [ ]:
#strip method
name = 'dlitHe Institute'
name.strip()

'dlitHe Institute'

In [ ]:
#split method
a = "Python is a programming language"
a.split("is")

['Python ', ' a programming language']

In [ ]:
b = "Python"
c = "language"

b + " "+ c

'Python language'

In [ ]:
#replace method
str1 = 'Hello to the kingdom'
print(str1)
str1.replace('the','a')

Hello to the kingdom

'Hello to a kingdom'

# Python Tuple, Dictionary

Tuple

In [ ]:
#Creating a tuple
this1 = ('mango','banana','orange','kiwi','melon','mango')
this1[1]  #accessing tuple element 1

'banana'

In [ ]:
#Adding two tuples
tuple1 = (1,2,3,4)
tuple2 = ('abe',3,4,'bnh')
tuple3 = tuple1 + tuple2
tuple3

(1, 2, 3, 4, 'abe', 3, 4, 'bnh')

In [ ]:
Tup = tuple('Hello world')
print(Tup)

('H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [ ]:
#Multiplying a tuple element by 3
TU = tuple("Hello",) *3
print(TU)

('H', 'e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o')

In [ ]:
# Tuple unpacking
tuple4 = ("hello",'Good','People')
a,b,c = tuple4
print(a)
print(b)
print(c)

hello
Good
People

Dictionary

In [ ]:
#Creating a dictionary
temp = dict(Name="Ravi",Age=22,Sub="CS")
print(temp)

{'Name': 'Ravi', 'Age': 22, 'Sub': 'CS'}

In [ ]:
di = {'Dict1':{1:'get'},'Dict2':{'Name':'for'}}
print(di)

{'Dict1': {1: 'get'}, 'Dict2': {'Name': 'for'}}

In [ ]:
di['Dict1'][1]  #accessing dictionary elements

'get'

In [ ]:
di.clear()  #clears all elements from dictionary
di

{}

If conditional statements

In [ ]:
#if...else
i = 5
if(i<10): #condition is true 
  print("i is less than 25")
else:
  print('I am not in if block')

i is less than 25

In [ ]:
i = 20 
if (i<15):  #condition fails and goes to else block
  print("i is smaller than 15")
  print("I am in if block")
else:
  print("i is greater or equal to 15")  #This part will be executed
  print("i am in else block ")

i is greater or equal to 15
i am in else block

In [ ]:
# Nested if-else
i = 4
if (i == 40): #condition becomes false goes to else block directly
  if(i<=15):
    print("i is smaller than 15")
  if(i<12):
    print("i is smaller than 12 too")
  else:
    print('i is greater than 15')
else:
  print('i is not 40')  #this part will be executed

i is not 40

In [ ]:
#if...elif...else
i = 100
if (i == 20): #conditiona fails and goes to elif block
  print('i is equal to 20')
  print('we are in if block')

elif ( i == 15):  #conditiona fails and goes to elif block
  print('i is 15')
  print('we are i elif(1) block')

elif( i == 10): #conditiona fails and goes to else block
  print('i is 10')
  print('we are in elif(2) block')

else:
  print('i is equal to nothing')  #this part will be executed
  print('i is in else block')

i is equal to nothing
i is in else block

In [ ]:
#short hand if
a = 200
b = 33
if a > b: print("a is greater than b")

a is greater than b

In [ ]:
#short hand if...else
a = 2
b = 330
print("A") if a > b else print("B")

B

#Python Loops

For Loop

In [ ]:
#For loop
L = [1,2,3,4,5,6,7]
for var in L:
  print(var)

1
2
3
4
5
6
7

In [ ]:
#Nested for loop
l = ['tomato','onion']
for i in l:
  for j in i:
    print(j)

t
o
m
a
t
o
o
n
i
o
n

In [ ]:
d = dict()
d['a'] = 123
d['b'] = 514
for i in d:
  print(i,d[i])

a 123
b 514

In [ ]:
#Break statement
for letter in 'whereareyou':
  if letter == 'e' or letter == 'r':
    break
  print(letter)

w
h

In [ ]:
#Pass statement
for letter in 'whereareyou':
  if letter == 'e' or letter == 'r':
    pass
  print(letter)

w
h
e
r
e
a
r
e
y
o
u

In [ ]:
#Continue statement
for letter in 'whereareyou':
  if letter == 'e' or letter == 'r':
    continue
  print(letter)

w
h
a
y
o
u

In [ ]:
#range function
list(range(1,10,1)) #list(range(starting point, ending point, iteration))
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
l = [10,20,30,40]
for i in range(len(l)):
  print(l[i], end = " ")

10 20 30 40

In [ ]:
#Sum of first 10 numbers using range function
for i in range(10):
  sum=i+1
print(sum)

10

While Loop

In [ ]:
#while loop
count = 0
while ( count< 3):
  count+= 3
  print('hello')

hello

In [ ]:
#popping elements using while loop
a = [1,2,3,4]
while a:
  print(a.pop())

4
3
2
1

In [ ]:
#continue statement
i = 0
a = 'helloworld'
while i<len(a):
  if a[i] == 'e':
    i+=1
    continue
  print('current letter',a[i])
  i +=1

current letter h
current letter l
current letter l
current letter o
current letter w
current letter o
current letter r
current letter l
current letter d

In [ ]:
#pass statement
i = 0
a = 'helloworld'
while i<len(a):
  if a[i] == 'e':
    i+=1
    pass
  print('current letter',a[i])
  i +=1

current letter h
current letter l
current letter l
current letter o
current letter w
current letter o
current letter r
current letter l
current letter d

In [ ]:
#break statement
i = 0
a = 'helloworld'
while i<len(a):
  if a[i] == 'e':
    i+=1
    break
  print('current letter',a[i])
  i +=1

current letter h

In [ ]:
#Zip function
questions = ['name','color','shape']
answers = ['apple','red','a circle']
for question, answer in zip(questions,answers):
  print('What is your {0}? I am {1}.'.format(question,answer))

What is your name? I am apple.
What is your color? I am red.
What is your shape? I am a circle.

#Python Functions

In [ ]:
#creating a function
def square_value(num):
  return num**2
  print(num)

print(square_value(2))  #calling a function

4

In [ ]:
#lambda function
x = lambda z: z + 5
print(x(25))

30

In [ ]:
def db(n):
  return lambda x:x*n
num_double = db(3)
print(num_double(13))

39

#Pandas

In [ ]:
#Installing pandas
!pip3 install pandas
#Importing pandas library
import pandas as pd
import numpy as np

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
#series
data = [1,2,3,4,45,6,7,'m']
d = pd.Series(data)
print(d)

0     1
1     2
2     3
3     4
4    45
5     6
6     7
7     m
dtype: object

In [ ]:
s = pd.Series([1,2,3,np.nan,8,9])
print(s)

0    1.0
1    2.0
2    3.0
3    NaN
4    8.0
5    9.0
dtype: float64

In [ ]:
d = pd.date_range('20220310', periods = 10)
print(d)

DatetimeIndex(['2022-03-10', '2022-03-11', '2022-03-12', '2022-03-13',
               '2022-03-14', '2022-03-15', '2022-03-16', '2022-03-17',
               '2022-03-18', '2022-03-19'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
#DataFrame
df = pd.DataFrame({'A':[1,2,3,4],
                   'B':pd.Timestamp('20220310'),
                   'C':pd.Series(1,index = list(range(4))),
                   'D': np.array([5]*4, dtype = 'int32'),
                   'E': pd.Categorical(['test','train','train','test'])})
print(df)

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df.head()

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df.tail()

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
print(type(df))
df.dtypes

<class 'pandas.core.frame.DataFrame'>

A             int64
B    datetime64[ns]
C             int64
D             int32
E          category
dtype: object

In [ ]:
df.to_numpy()

array([[1, Timestamp('2022-03-10 00:00:00'), 1, 5, 'test'],
       [2, Timestamp('2022-03-10 00:00:00'), 1, 5, 'train'],
       [3, Timestamp('2022-03-10 00:00:00'), 1, 5, 'train'],
       [4, Timestamp('2022-03-10 00:00:00'), 1, 5, 'test']], dtype=object)

In [ ]:
df.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [ ]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [ ]:
df.sort_index(axis = 1, ascending = False)

       E  D  C          B  A
0   test  5  1 2022-03-10  1
1  train  5  1 2022-03-10  2
2  train  5  1 2022-03-10  3
3   test  5  1 2022-03-10  4

In [ ]:
df.sort_values(by = 'A')

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df[0:3]

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train

In [ ]:
#From label
df.loc[:,['A','C']]

   A  C
0  1  1
1  2  1
2  3  1
3  4  1

In [ ]:
# From Position 
df.iloc[3]

A                      4
B    2022-03-10 00:00:00
C                      1
D                      5
E                   test
Name: 3, dtype: object

In [ ]:
df.iloc[0:2,3:5]

   D      E
0  5   test
1  5  train

In [ ]:
df[df['A'] >2]

   A          B  C  D      E
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df = pd.Series([1,2,3,np.nan,4,5]).shift(2)
df.apply(np.cumsum)

0    [nan]
1    [nan]
2    [1.0]
3    [2.0]
4    [3.0]
5    [nan]
dtype: object

In [ ]:
df.value_counts()

1.0    1
2.0    1
3.0    1
dtype: int64

In [ ]:
s = pd.Series(['education','Jupyther','Python',np.nan])
s.str.upper()

0    EDUCATION
1     JUPYTHER
2       PYTHON
3          NaN
dtype: object

In [ ]:
s.str.lower()

0    education
1     jupyther
2       python
3          NaN
dtype: object